.person {
    color: red;
}

.special {
    font-weight: bolder;
}

.clicked {
    color: aquamarine;
}

.super-special {
    background-color: greenyellow;
}

.urgent {
    /* text-decoration:  overline; */
    background-color: red;
}

.hidden {
    display: none;
}

.funtimes {
    position: relative;
}

.img80p {
    width: 80%;
}

.hover {
    cursor: pointer;
}

.accordion-header, .content, .div, .main-div {
    border: 1px solid black;
    padding: 1vw;
}

.accordion-header {
    background-color: cadetblue;
}



.sticky-wrap {
    overflow-x: auto;
    position: relative;
    margin-bottom: 1.5em;
    width: 100%;
    border: 3px solid purple;
}

thead th, tfoot th, tfoot td, tbody td {
    border: 1px solid black;
}

.sticky-wrap .sticky-thead,
.sticky-wrap .sticky-col,
.sticky-wrap .sticky-intersect {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .125s ease-in-out;
    z-index: 50;
    width: auto; /* Prevent table from stretching to full size */
}

.sticky-wrap .sticky-thead {
    box-shadow: 0 0.25em 0.1em -0.1em rgba (0,0,0, .125);
    z-index: 100;
    width: 100%; /* Force stretch */
}

.sticky-wrap .sticky-intersect {
    opacity: 1;
    z-index: 150;
}

.sticky-wrap .sticky-intersect th {
    background-color: #666;
    color: #eee;
}

.sticky-wrap td, .sticky-wrap th {
    box-sizing: border-box;
}

