.person {
    color: red;
}

.special {
    font-weight: bolder;
}

.clicked {
    color: aquamarine;
}

.super-special {
    background-color: greenyellow;
}

.urgent {
    /* text-decoration:  overline; */
    background-color: red;
}

.hidden {
    display: none;
}